header {
    width: 100%;
    background: black;
    height: 150px;
    position: relative;
    bottom: 70px;
}
h1 {
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
}
body {
    margin: 0;
}
main {
    font-size: 100px;
}
.mainText {
    position: relative;
    top: 100px;
    text-align: center;
    font-family: 'Source Code Pro';
}
.mainText::before {
    content: '1';
    display: inline-block;
    background: lightBlue;
    position: absolute;
    width: 80px;
    height: 70px;
    font-size: 50px;
    top: 30px;
    left: 100px;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
strong {
    font-size: 130px;
}


.tracker {
   position: relative; 
    top: 100px;
    text-align: center;
}
.tracker::after {
    content: '';
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 210px;
    height: 30px;
    background: linear-gradient(to bottom, blue,blueviolet);
    border-radius: 80px;
    margin: 0;
  }
